<div class="jumbotron mt-4">
  <h1 class="display-4">Y esto?</h1>
  <hr class="my-4">
    <p class="lead-text text-justify">Damas y caballeros, señoras y señores, Gustavo. 
      El otro día hablábamos de los problemas de crear una app con autenticación, 
      registro de usuarios, rutas específicas para cada usuario... 
      así que se me calentó la cabeza y después de ver millones de tutoriales y leer 
      media literatura mundial sobre web he hecho esta app de notas.</p>
  </card>
  <div class="card-body">
    <img src="/css/Imagenes/girafa.jpg" class="rounded-circle mx-auto d-block m-4 logo" alt="Girafa">
  </div>
</div>