<div class="jumbotron mt-4">
  <h1 class="display-4">Qué tengo que hacer?</h1>
  <hr class="my-4">
  <p class="lead text-justify">Una aplicación web de notas realizada por Alberto y unos 10 litros de café y té verde. 
    Y aquí abajo la web de Adro, a ver si le voy dando tráfico.</p>
  <a href="http://adro.es" class="btn btn-primary btn-lg">Adro S.L.</a>
  <div class="card-body">
    <img src="/css/Imagenes/girafa2.jpg" class="rounded-circle mx-auto d-block m-4 logo" alt="Girafa">
  </div>
</div>